In [1]:
import os
os.chdir(r'C:\Users\Veena Nigam\Desktop\Python project\Data Cleaning Projects')
os.getcwd()

'C:\\Users\\Veena Nigam\\Desktop\\Python project\\Data Cleaning Projects'

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing the numpy and pandas package
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O 


# Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
uni_towns = []
with open("university_town.txt") as file:
    for line in file:
        if '[edit]' in line:
            state = line
        else:
            uni_towns.append((state, line))
            
uni_towns[:5]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n')]

In [5]:
df = pd.DataFrame(uni_towns, columns=['State_of_University', 'University_Region'])

df.head()

  State_of_University                                  University_Region
0     Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1     Alabama[edit]\n           Florence (University of North Alabama)\n
2     Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3     Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4     Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State_of_University  517 non-null    object
 1   University_Region    517 non-null    object
dtypes: object(2)
memory usage: 8.2+ KB

In [7]:
# counting missing values
df.apply(lambda x: sum(x.isnull()))

State_of_University    0
University_Region      0
dtype: int64

#### State_of_University Column

In [8]:
df['State_of_University'].unique()

array(['Alabama[edit]\n', 'Alaska[edit]\n', 'Arizona[edit]\n',
       'Arkansas[edit]\n', 'California[edit]\n', 'Colorado[edit]\n',
       'Connecticut[edit]\n', 'Delaware[edit]\n', 'Florida[edit]\n',
       'Georgia[edit]\n', 'Hawaii[edit]\n', 'Idaho[edit]\n',
       'Illinois[edit]\n', 'Indiana[edit]\n', 'Iowa[edit]\n',
       'Kansas[edit]\n', 'Kentucky[edit]\n', 'Louisiana[edit]\n',
       'Maine[edit]\n', 'Maryland[edit]\n', 'Massachusetts[edit]\n',
       'Michigan[edit]\n', 'Minnesota[edit]\n', 'Mississippi[edit]\n',
       'Missouri[edit]\n', 'Montana[edit]\n', 'Nebraska[edit]\n',
       'Nevada[edit]\n', 'New Hampshire[edit]\n', 'New Jersey[edit]\n',
       'New Mexico[edit]\n', 'New York[edit]\n', 'North Carolina[edit]\n',
       'North Dakota[edit]\n', 'Ohio[edit]\n', 'Oklahoma[edit]\n',
       'Oregon[edit]\n', 'Pennsylvania[edit]\n', 'Rhode Island[edit]\n',
       'South Carolina[edit]\n', 'South Dakota[edit]\n',
       'Tennessee[edit]\n', 'Texas[edit]\n', 'Utah[edit]\n',
       'Vermont[edit]\n', 'Virginia[edit]\n', 'Washington[edit]\n',
       'West Virginia[edit]\n', 'Wisconsin[edit]\n', 'Wyoming[edit]\n'],
      dtype=object)

In [9]:
df['State'] = df['State_of_University'].str.extract( r'(?P<State>.*)(?=\s*\[edit\])')
df.drop('State_of_University', inplace = True, axis=1)

In [10]:
df.head()

                                   University_Region    State
0                    Auburn (Auburn University)[1]\n  Alabama
1           Florence (University of North Alabama)\n  Alabama
2  Jacksonville (Jacksonville State University)[2]\n  Alabama
3       Livingston (University of West Alabama)[2]\n  Alabama
4         Montevallo (University of Montevallo)[2]\n  Alabama

#### University_Region Column

In [11]:
df[['Region']] = df['University_Region'].str.extract('.*\((.*)\).*')
df.drop('University_Region', inplace= True, axis=1)

In [12]:
df.head()

     State                         Region
0  Alabama              Auburn University
1  Alabama    University of North Alabama
2  Alabama  Jacksonville State University
3  Alabama     University of West Alabama
4  Alabama       University of Montevallo